.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;


  .barcelona-logo {
    display: block;
    margin: 0 auto;  // Esto centrará horizontalmente la imagen
    margin-bottom: 1.5rem;
    max-width: 200px;
    height: auto;
  }

  .uoc-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    max-width: 200px;
    height: auto;

    @media (min-width: $mqMinWidth) {
      max-width: none;
    }
  }

  .uoc-title {
    font-family: $font-family-serif;
    font-size: 24px;
    font-weight: 700;
    color: $uoc-corporate;

    @media (min-width: $mqMinWidth) {
      font-size: 36px;
    }
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
